<a href="https://colab.research.google.com/github/noow33s/cos3302week2/blob/main/COS3302_week3_readFiles_pasdas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries
import pandas as pd

In [ ]:
from google.colab import drive
ROOT = "/content/GDrive"
drive.mount(ROOT)

Mounted at /content/GDrive

In [ ]:
# Read Excel file
excel_path = "/content/GDrive/MyDrive/Classroom/COS3302(1 12565) 1/COS3302_week3/dada_files/courses.XLSX"
df = pd.read_excel(excel_path)
print(df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

In [ ]:
# Read excel by considering first row as data
columns = ['courses','course_fee','course_duration','course_discount']
df2 = pd.read_excel(excel_path, header=0, names = columns)
df2

  courses  course_fee course_duration  course_discount
0   Spark       25000         50 Days             2000
1  Pandas       20000         35 Days             1000
2    Java       15000             NaN              800
3  Python       15000         30 Days              500
4     PHP       18000         30 Days              800

In [ ]:
# Read excel by setting column as index
df2 = pd.read_excel(excel_path, index_col=0)
print(df2)

            Fee Duration   Discount
Courses
Spark     25000   50 Days       2000
Pandas    20000   35 Days       1000
Java      15000       NaN        800
Python    15000   30 Days        500
PHP       18000   30 Days        800

In [ ]:
# Read specific excel sheet
df = pd.read_excel(excel_path, sheet_name='Sheet1')
print(df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

In [ ]:
# Read Multiple sheets
dict_df = pd.read_excel(excel_path,
sheet_name=["Sheet1","Sheet2"])

# Get DataFrame from Dict
course_df = dict_df .get("Sheet1")
course_updated_df = dict_df.get("Sheet2")

# Print DataFrame's
print(course_df)
print(course_updated_df)

  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000       NaN        800
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800
  Courses     Fee Duration   Discount
0    Spark  25000   50 Days       2000
1   Pandas  20000   35 Days       1000
2     Java  15000   30 Days        700
3   Python  15000   30 Days        500
4      PHP  18000   30 Days        800

In [ ]:
# Read excel by skipping columns
df2 = pd.read_excel(excel_path, usecols=[0,2])
print(df2)

  Courses  Duration
0    Spark   50 Days
1   Pandas   35 Days
2     Java       NaN
3   Python   30 Days
4      PHP   30 Days

In [ ]:
# Skip columns by range
df2 = pd.read_excel(excel_path,

usecols='B:D')

print(df2)

     Fee Duration   Discount
0  25000   50 Days       2000
1  20000   35 Days       1000
2  15000       NaN        800
3  15000   30 Days        500
4  18000   30 Days        800

In [ ]:
# Read excel file by skipping rows
df2 = pd.read_excel(excel_path,

skiprows=2)

print(df2)

   Pandas  20000  35 Days  1000
0    Java  15000      NaN   800
1  Python  15000  30 Days   500
2     PHP  18000  30 Days   800

In [ ]:
# Using skiprows to skip rows
df2 = pd.read_excel(excel_path,

skiprows=[1,3])

print(df2)

  Courses     Fee Duration   Discount
0   Pandas  20000   35 Days       1000
1   Python  15000   30 Days        500
2      PHP  18000   30 Days        800

In [ ]:
# Using skiprows with lambda
df2 = pd.read_excel(excel_path,
skiprows=lambda x: x in [1,3])

print(df2)

  Courses     Fee Duration   Discount
0   Pandas  20000   35 Days       1000
1   Python  15000   30 Days        500
2      PHP  18000   30 Days        800

In [36]:
# Read json from String
json_str = '{"Courses":{"r1":"Spark"},"Fee":{"r1":"25000"},"Duration":{"r1":"50 Days"}}'
df = pd.read_json(json_str)
print(df)

   Courses    Fee Duration
r1   Spark  25000  50 Days

In [ ]:
# Read json from String
json_str = '[{"Courses":"Spark","Fee":"25000","Duration":"50 Days","Discount":"2000"}]'
df = pd.read_json(json_str, orient='records')
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000

In [ ]:
json_file="/content/GDrive/MyDrive/Classroom/COS3302(1 12565) 1/COS3302_week3/dada_files/courses.json"
df = pd.read_json(json_file)
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000                800

In [ ]:
# Read JSON file with records orient
df = pd.read_json("/content/GDrive/MyDrive/Classroom/COS3302(1 12565) 1/COS3302_week3/dada_files/courses.json" ,orient='records')
print(df)

  Courses    Fee Duration  Discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000                800

#CSV format (execise)

In [ ]:
csv_path = "/content/GDrive/MyDrive/Classroom/COS3302(1 12565) 1/COS3302_week3/dada_files/courses.csv"
df = pd.read_csv(csv_path)
print(df)

    Spark  25000  50 Days  2000
0  Pandas  20000  35 Days  1000
1    Java  15000      NaN   800
2  Python  15000  30 Days   500
3     PHP  18000  30 Days   800

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape

(4, 4)

In [ ]:
df.columns

Index(['Spark', '25000', '50 Days', '2000'], dtype='object')

In [ ]:
df[:]

    Spark  25000  50 Days  2000
0  Pandas  20000  35 Days  1000
1    Java  15000      NaN   800
2  Python  15000  30 Days   500
3     PHP  18000  30 Days   800

In [ ]:
colsname=["courses","fee","duration","discount"]
df = pd.read_csv(csv_path,names=colsname)
df

  courses    fee duration  discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000      NaN       800
3  Python  15000  30 Days       500
4     PHP  18000  30 Days       800

In [ ]:
df[0:5]["courses"]

0     Spark
1    Pandas
2      Java
3    Python
4       PHP
Name: courses, dtype: object

In [ ]:
df[0:5]["fee"]>15000

0     True
1     True
2    False
3    False
4     True
Name: fee, dtype: bool

In [ ]:
df[(df["fee"]>15000)&(df["discount"]>800)]

  courses    fee duration  discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000

In [ ]:
df[(df["fee"]>15000)|(df["discount"]>800)]

  courses    fee duration  discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
4     PHP  18000  30 Days       800

In [ ]:
select="duration"
df[select]=df[select].fillna( "30 Days" )
df

  courses    fee duration  discount
0   Spark  25000  50 Days      2000
1  Pandas  20000  35 Days      1000
2    Java  15000  30 Days       800
3  Python  15000  30 Days       500
4     PHP  18000  30 Days       800

In [ ]:
df["new"]=0
df

  courses    fee duration  discount  new
0   Spark  25000  50 Days      2000    0
1  Pandas  20000  35 Days      1000    0
2    Java  15000  30 Days       800    0
3  Python  15000  30 Days       500    0
4     PHP  18000  30 Days       800    0

In [ ]:
df.index

RangeIndex(start=0, stop=5, step=1)